@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #111215;        /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
    background-color: #1ecdc8;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #1ecdc8;  /* creates padding around scroll thumb */
}